<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.polytech.nuitdelinfo.iiioexception">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FirstScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Accueil" />
        <activity android:name=".AccueilSeries" />
        <activity android:name=".Exercice" />
        <activity android:name=".ExerciceCorrection" />
        <activity android:name=".transitionCorrection" />
        <activity android:name=".Translator" />


        <!-- Napply widget -->
        <receiver android:name=".NapplyWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.polytech.nuitdelinfo.iiioexception.SHOW_NOTIFICATION" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/napply_widget_meta" />
        </receiver>

        <!-- Configure activity -->
        <activity
            android:name=".WidgetConfigure"
            android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity android:name=".TipsEtCours"></activity>
    </application>

</manifest>